<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net452" />
  <package id="Koakuma.Shared" version="1.0.6403.28174" targetFramework="net452" />
  <package id="MessageNetwork" version="1.0.6400.37223" targetFramework="net452" />
  <package id="MoonSharp" version="2.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
</packages>